*{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
html,body,h1,h2,h3,h4,h5,h6,ul,ol,li,p,form,dl,dt,dd,figure{margin:0; padding:0; border:0;}
body{font:100%/1.4em Helvetica, Arial, sans-serif; color:#555; background:#f7f7f7;}
a{margin:0 2px; color:#06c; text-decoration:none;}
a[href^="http"]{display:inline-block; padding-right:14px; background:url(img/external.png) no-repeat right;}
a[href^="http://elf.js.org"]{padding-right:0; background:none;}
a:hover{text-decoration:underline;}
img{border:0;}
q{margin:0 2px; color:#06c; cursor:pointer;}
q:hover{text-decoration:underline;}
q.on{color:#000; text-decoration:none; font-weight:bold; cursor:default;}
q.disabled{color:#999; cursor:default; text-decoration:none;}
q:before{content:'';}
q:after{content:'';}
input,textarea{padding:0; resize:none;}

.layout-section{display:block; position:relative; zoom:1;}

.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.button.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.button.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.button.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

#MainPage{width:960px; margin:auto; padding:10px 0;}

#Header{position:relative; zoom:1;}
#Header .logo{position:relative; zoom:1;}
#Header .additional{position:absolute; left:105px; bottom:5px;}

#Header .layout-aside{position:absolute; top:5px; right:0;}
#Header .layout-aside li{float:left; list-style:none; line-height:1.2em; padding:0 5px; border-left:1px solid #fff; border-right:1px solid #999; font-size:85%; text-shadow:1px 1px 1px #fff;}
#Header .layout-aside li:first-child{border-left:none;}
#Header .layout-aside li:last-child{border-right:none;}
#Header .layout-aside li a{display:inline-block; padding:1px 6px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; color:#666;}
#Header .layout-aside li a:hover{color:#06c; background:#fff; text-decoration:none; box-shadow:0 1px 3px #ccc}
#Header .layout-aside li.current a{background:#999; color:#fff; text-shadow:none;}

.search-box input{width:200px; height:22px; border:1px solid #d9d9d9; border-radius:3px; padding:2px; font:14px Helvetica, Arial, sans-serif; color:#ccc;}
.search-box input:hover{border:1px solid #a0a0a0; box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);}
.search-box input:focus{border:1px solid #4d9efe; box-shadow:inset 0 1px 2px rgba(0,0,0,0.1); color:#555;}
.search-box button{width:2em; height:22px; overflow:hidden; padding:0; border:1px solid #4d9efe; background:#4d9efe; color:#fff; font-weight:bold; text-shadow:none;}
.search-box button:hover{border:1px solid #48e;}

#MainBody{min-height:200px; margin:10px 0;}
#MainBody:after{display:block; clear:both; content:'.'; height:0; overflow:hidden; visibility:hidden;}

#Footer{color:#aaa; font-size:75%; line-height:1.6em;}



/* content page */
.page-type-content #Header .logo{height:30px;}
.page-type-content #Header .additional{bottom:5px; font-size:16px; color:#ccc;}
.page-type-content #Header .additional .sub-path{font-size:85%; line-height:1em;}

.page-type-content #MainBody{position:relative; zoom:1; margin:10px 0 30px 0; padding:20px; border-radius:5px; box-shadow:0 2px 6px #ccc; background:#fff; font:medium/1.5em Arial, Helvetica, sans-serif;}

/* doc page */
.page-type-docs .search-box{float:right;}

/* blog page */
.page-type-blog .search-box{margin-bottom:1em;}
.page-type-blog .search-box input{width:160px;}
.blog-feed{margin:1em 0; font-size:12px;}
.rss-link{padding-right:20px; background:url(img/icon-feed.gif) no-repeat right;}

/* search page */
.page-type-search h1{padding:0.4em 0.4em 0 0.4em;}
#cse *{box-sizing:content-box; -webkit-box-sizing:content-box; -moz-box-sizing:content-box;}
#cse a{margin:0;}
#cse .gsc-result .gs-title{height:auto;}
#cse .gsc-input-box{border-radius:3px;}
#cse .gsc-search-button{margin-top:4px;}
#cse .gcsc-branding-clickable{padding:0; background:none;}